#header,
.module caption, .inline-group h2{
    background : #004d40;
    color : #fff;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color : #ef9a9a;
}
div.breadcrumbs {
    background : #212121 ;
}